<div id="sidebar-wrapper">
    <h5>MATRÍCULAS UPN</h5>
    <ul class="sidebar-brand">
        <li>
            @Html.ActionLink("Matricular Estudiantes", "List", "Estudiantes")
        </li>
        <li>
            @Html.ActionLink("Reporte Matrículas", "Reporte", "Reporte")
        </li>

    </ul>
</div>
